<div class="container">
  <h1>🍦💖 Te amo Alejandra 💖🍦</h1>
  <p class="poema">
    En cada latido te pienso,<br />
    en cada suspiro te encuentro,<br />
    eres mi sol y mi cielo,<br />
    mi razón y mi anhelo.
  </p>

  <button (click)="lanzarCorazones()" class="btn-amor">Te amo</button>

  <div class="corazones">
    <span
      *ngFor="let c of corazones; let i = index"
      class="corazon"
      [ngStyle]="{ left: c.x + 'px', animationDuration: c.duracion + 's' }"
    >
      ❤️
    </span>
  </div>

  <div class="helados">
    <span *ngFor="let h of helados" class="helado">🍦</span>
  </div>
</div>